[user]
	email = mester.zsolt@gbsolutions.io
	name = zsmester
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[fetch]
    prune = true
[alias]
	a = add
	aa = add --all

	b = branch
    ba = branch --all
	bd = branch -D

	co = checkout
	cob = checkout -b
    com = checkout master
    cod = checkout development

	c = commit
	cm = commit -m
	ca = commit --amend -C HEAD

    cp = cherry-pick

	d = diff
	ds = diff --staged

	f = fetch --prune --tags

	l = log
	lp = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	m = merge
	md = merge development

	ps = push -u
	psf = push -u -f
	pso = push -u origin
	psfo = push -u -f origin
	psm = push -u origin master
	psfm = push -u -f origin master

	pl = pull --prune
	plo = pull --prune origin

	rb = rebase
	rbd = rebase development
    rbm = rebase master
	rbi = rebase --interactive
	rbc = rebase --continue
    rba = rebase --abort

    rs = reset
    rsh = reset --hard
	rss = reset --soft

	st = status

	sh = stash
	shc = stash clear
	shl = stash list
	shp = stash pop

	aa-cm = !git aa && git cm
	aa-c-ps = !git aa && git c && git ps
	aa-ca-psf = !git aa && git ca && git psf

    up = !git shc && git sh && git pl && git shp
    branch-name = rev-parse --abbrev-ref HEAD
    reset-gitignore = !git rm --cached -r . && git aa
    clear = !git shc && git rsh && git clean -xfd
