"*":
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 16
    preferredLineLength: 120
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "35963bef-d799-4599-8a13-237fa032a997"
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  "project-manager":
    alwaysOpenInSameWindow: true
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
".gemfile.ruby.source":
  editor:
    tabLength: 2
    tabType: "soft"
".md.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
    tabType: "soft"
".source.yaml":
  editor:
    tabLength: 2
